<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Document</title>   
    <!-- development version, includes helpful console warnings -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/7fce8be79d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <div id="header" :class="backgroundClassName">
            <h1 id="Title" :class="fontClassName">
                ANIMATED <i :style="{color : italicColor}">QUICKSORT</i>
            </h1>
            <button class="iconBtn">
                <i v-bind:class="FAicon" :style="{color : italicColor}" id="themeIcon" v-on:click="switchTheme()"></i>
            </button>
        </div>
    <hr :class="itemClassName"/>
        <div>
            <div class="canvas">
                <div class="array">
                    <!-- v-for para crear varios divs, uno para cada elemento de la lista-->>
                    <!-- v-bind:id o :id para linkar el id del elemento del DOM con su posición en el array-->
                    <div id="element" :class="itemClassName" v-for="element in elements" :id="elements.indexOf(element)">{{element}}</div>
                </div>
            </div>
            <div class="lateral" :class="lateralClassName">
                <button class="lateral_btn" id="regen_btn" @click="regenVector">
                    {{message}}
                </button>
                <form id="data">
                    <label for="nodes">Nº Nodos</label>
                    <input type="number" id="nodes" min="3" max="10" v-model="ArrayLength"/>
                </form>
                <button class="lateral_btn" id="create_btn" v-on:click="quickSortArray(elements, 0, elements.length)">
                    ANIMAR
                </button>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>