
  @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@300;400&display=swap');


  html, body {
    padding: 0;
    margin: 0;
    height:100%;
    background-color: #1a1a2a;
  }

  #header {
    padding : 1.2em;
  }

  hr {
    margin: 0 1.5em;
    height: 2px;
    border: none;
    border-radius :2px
  }
  #Title {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    align-self: center;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 2em;
    display: inline-block
}

i{
  font-family: "Aclonica";
}

.lateral {
  margin: 1.5em 2em;
  border-radius: 10px;
  float: right;
  width: 25%;
  background-color: #2e2e41;
  text-align: center;
  box-shadow: 0 0 0.5em  rgba(0,0,0,0.6);
}

.canvas {
  width: 60%;
  display: inline-block;
}

.array {
  display : inline-block;
  width: 100%;
  margin : 0 auto;
  padding: 5em;
}

#element {
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat';
  margin: 10px 15px;
  padding: 18px;
  border-radius: 1rem;
  font-size: 1.1em;
  vertical-align: middle;
  box-sizing: border-box;
  box-shadow: 0 0 0.5em  rgba(0,0,0,0.6);
}

.iconBtn {
  background-color: transparent;
  border: none;
  transition : 0.3s ease-out;
}

.iconBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lateral_btn {
  background-color: #FAFAFA;
  color: black;
  font-family: 'Montserrat';
  font-weight: 400;
  padding: 1em;
  margin: 1.3rem auto;
  border: none;
  transition : 0.3s ease-out;
  border-radius: 5px;
  display: block;
}

.lateral_btn:hover {
  background-color: #DADADA; /* Green */
  cursor: pointer;
  transform: scale(1.1);
}

#data {
  margin: 2em;
}

#data > label {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
  font-weight: 300;
  margin: 1em;
}

  /*TEMA OSCURO*/
  .darkThemePrimary {  background-color: #1a1a2a }
  .darkThemeTitle {    color : aliceblue  }
  .darkThemeItem {background-color: rgb(150, 213, 255) ;}
  .darkThemeLateral {background-color: #2e2e41}

  /*TEMA CLARO*/
  .lightThemePrimary {  background-color: #FEFEFE }
  .lightThemeTitle { color : #1a1a2a  }
  .lightThemeItem {background-color: #0099ff; color: #fff;}
  .lightThemeLateral, .lightThemeHr {background-color: #0099ff;}